:root {
    --bg: #36393F;
    --mainbox: #F57F17;
    --mainbox2: #26f517;
    --mainbox3: #1735f5;

    
}
body{
    background: var(--bg);
}
@font-face {
    font-family: 'GothamBold';
    src: url(../font/GothamBold.ttf);
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centerX{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mainbox{
    height: 90%;
    width: 90%;
    border: none;
    background: rgba(233, 30, 99, 0.3);
    border-radius: 20px;
    z-index: 1;
}
.backimg{
    position: fixed;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    background-image: url(../img/backimg.png);
    z-index: -1;
}
.centertext {
    font-family: 'GothamBold';
    text-align: center;
    color: rgb(0, 0, 0);
    background: transparent;
}

.h1 {
    top: 10%;
    font-size: 2rem;
}

.h2 {
    top: 30%;
    font-size: 3rem;
}
.opsimg{
    top: 70%;  
    height:150px;
    transition: 250ms;
}
.opsimg:hover{
    height: 155px;
}
.glass{
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
}
@media (max-width: 390px){
    .h1 {
        top: 20%;
        font-size: 2rem;
    }
    .h2 {
        top: 30%;
        font-size: 1rem;
    }
    .opsimg{
        top: 70%;  
        height:130px;
    }
    .opsimg:hover{
        height: 135px;
    }
    .mainbox{
        background: rgba(93, 104, 246, 0.1);
    }
}
@media (min-width: 900px){
    .h1 {
        top: 20%;
        font-size: 2rem;
    }
    .h2 {
        top: 30%;
        font-size: 1rem;
    }
    .opsimg{
        top: 70%;  
        height:130px;
    }
    .opsimg:hover{
        height: 135px;
    }
    .mainbox{
        background: rgba(141, 224, 100, 0.1);
    }

}

